.footer {
	background: #0b0b1d;
	color: white;
	min-height: 100px;
	text-align: center;
	padding: 30px;

	font-family: "Roboto",sans-serif;
}

.footer .copyright-text {
	font-weight: 300;
	line-height: 2.5;
	color: #9fa8c3;
}

/*Make footer sticky if not enough content is present*/
main { min-height: calc(100vh - 70px); }
